<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Prijava</title>
</head>
<body class="bg-gray-900 flex items-center justify-center h-screen">
    <div class="bg-white p-10 rounded-2xl shadow-2xl text-center w-96">
        <h1 class="text-3xl font-bold mb-8 text-gray-800">Bitly kset</h1>
        <p class="text-gray-600 mb-8">Prijavite se.</p>
        <a href="/login" class="flex items-center justify-center gap-3 w-full bg-white border border-gray-300 text-gray-700 py-3 rounded-lg hover:bg-gray-50 transition font-medium">
            <img src="https://www.svgrepo.com/show/355037/google.svg" class="w-5 h-5">
            Prijavi se putem Googlea
        </a>
    </div>
</body>
</html>